<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts lab</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Layouts</h1>
    <h2>a responsive web newspaper layout</h2>
    <ul>
        <li>Using the CSS Multi-column Layout Module to create a newspaper layout</li>
        <li>Using the counter-style CSS at-rule to create custom list styles</li>
        <li>Styling images using the filter property</li>
        <li>Handling broken images</li>
        <li>Formatting captions</li>
        <li>Using the quotes property to add quotation marks to HTML elements</li>
        <li>Using media queries to change the layout based on screen size</li>
    </ul>
    
    <section class="newspaper-layout">
        <h1 class="newspaper-title">Newspaper Title</h1>
        <time class="newspaper-time" datetime="2026-02-28">
            Saturday, February 28<sup>th</sup> 2026
        </time>
        <article class="newspaper-article">
            <h2 class="newspaper-heading">Article Heading</h2>
            <div class="author">Scott Laing</div>
            <p>Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.</p>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            <blockquote class="newspaper-blockquote">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</blockquote>
            <p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum.</p>
            <h3 class="newspaper-subheading">Subheading</h3>
            <ul class="newspaper-list">
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h3 class="newspaper-subheading">Subheading</h3>
            <img src="">
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </article>
    </section>







    <!-- Your content goes here -->
    <script src="script.js"></script>
</body>
</html>
